<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}

    <!-- Open Graph tags -->
    <meta
      property="og:title"
      content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}"
    />
    <meta
      property="og:description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />
    <meta
      property="og:image"
      content="https://christianlevan.me/assets/IMG_7778.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="article" />

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}"
    />
    <meta
      name="twitter:description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />
    <meta
      name="twitter:image"
      content="https://christianlevan.me/assets/IMG_7778.png"
    />
    <meta name="twitter:creator" content="@YourTwitterHandle" />
  </head>
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <main>{{ content }}</main>
      {% include footer.html %}
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>
</html>
